/* COLOR PALETTE: https://colorpalettes.net/color-palette-2564/
#50423d - Dark brown
#8d7361 - Caramel
#c9bbae - Beige
#eeebe7 - Cream
#8b8da0 - Grey
#E83151 - Red (for links)
 */
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Josefin+Slab:ital,wght@1,200&display=swap');
 /* 'Hachi Maru Pop' ; 'Josefin Slab' */
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
/*  'Suez One' */

/* BOX SIZING */
html {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* GENERAL STYLE */
body {
  background: #8d7361;
  display: flex;
  justify-content: center;
}
.page-wrapper {
  background: #c9bbae;
  margin: 0.5rem;
  border-radius: 10px;
  flex: 0 1 1100px;
}
.page-wrapper > * {
  border: 2px solid #50423d;
  border-radius: 10px;
  margin: 5px;
  background: #eeebe7 ;
}
div.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* ======================= TEXT / LINKS ===================================*/
p {
  color: #50423d;
  font-family: helvetica, sans-serif;
}
h3 {
  font-family: 'Suez One', serif;
  font-size: 1.5rem;
  font-stretch: expanded;
}
a, li {
  color: #8b8da0;
  text-decoration: none;
  font-family: helvetica, sans-serif;
}
a:hover {
  color: #E83151;
  font-style: italic;
}

/* ====================================================================*/
/* ======================== INTRO / BANNER ============================*/

section.intro {
  flex: 1 1 500px; /* margin is 5 */
  /* margin-right: 260px; */
}
    header {
      padding: 1em 0;
      display: flex;
      flex-wrap: nowrap;
      height: 5.75rem;
    }
      header > h1 {
        font-family: 'Hachi Maru Pop', cursive;
        font-size: 1.6rem;
        margin: 0;
        padding: 0.5rem 0;
        transform: rotate(350deg);
        flex: 0 1 auto;
        text-align: center;
      }
      header > h2 {
        font-family: 'Josefin Slab', serif;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 1.5rem;
        text-align: center;
        flex: 1 1 auto;
      }
      .intro > .summary > p:first-child {
        /* height: 10.5rem; */
        /* padding: 0.5rem; */
      }
      /* .intro > .summary > p:first-child:after{
        display: block;
        content: '';
        background-color: green;
        height:6rem;
      } */
    .summary {
      background-color: yellow;               /* HELPER */
    }
    .preamble {
      background-color: pink;                 /* HELPER */
    }
  section.intro > div > p:last-child {
    display: inline-block;
    position: relative;
    left: 60px;
  }

/* ====================================================================*/
/* ====================== MAIN SUPPORTING =============================*/

div.main {
  flex: 1 1 500px;
  /* margin-right: 260px; */
}
div.main > div {
  border: 5px solid #c9bbae;
  border-radius: 2rem;
  margin: 2rem 10%;
}
div.main > footer {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
div.main > footer > a {
  display: inline-block;
  flex: 1 0 10rem;
}
div.main > div:before {
  content: ' ';
  background-image: url("arrow.svg");
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  top: 1rem;
  left: 3rem;
}
div.main > div > h3 {
  text-align: center;
  color: #8d7361;
  display: inline-block;
  width: calc(100% - 60px);
  font-family: 'Hachi Maru Pop', cursive;
}

/* ====================================================================*/
/* ============================== ASIDE ===============================*/
@media screen and (max-width: 262px) {
  :root {
    --menuPosition: 14.25rem;
  }
}
@media screen and (max-width: 330px) {
  :root {
    --menuPosition: 12.75rem;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --menuPosition: 11.25rem;
  }
}
aside:before {
  content: ' ';
  display: inline-block;
  background-image: url(arrow.svg);
  height: 50px;
  width: 50px;
}
aside.sidebar {
  flex-wrap: wrap;
  position: absolute;
  left: 1rem;
  top: 12.75rem;
  line-height: 0;
}
aside.sidebar > * {
  line-height: 1.5rem;
}
  aside.sidebar > div.wrapper {
    display: none;
  }
  /* aside.sidebar:hover:before {
    display: inline-block;
  } */
    aside > div > div {
      display: inline-block;
      width: 180px;
    }
    aside > .wrapper ul {
      list-style-type: none;
      padding: 10px;
      margin: 0;
    }
    aside > .wrapper ul > li {
      margin: 0.5rem 0.7rem 0 0;
      border: 2px solid #8b8da0;
      border-radius: 5px;
      padding: 0 0.5rem;
    }
    aside > .wrapper > div > h3 {
      /* display: none; */
      color: #8d7361;
      font-size: 1rem;
      font-family: 'Hachi Maru Pop', cursive;
    }
    aside > .wrapper > div > nav, aside > .wrapper > div > ul {
      display: none;
      position: absolute;
      background-color: pink;
    }
    aside > .wrapper > div:hover > nav, aside > .wrapper > div:hover > ul {
      display: block;
    }
      aside > .wrapper > .design-selection li {
        font-size: 0.7rem;
      }
        aside > .wrapper > .design-selection li a {
          font-size: 1rem;
        }
        aside > .wrapper > .design-selection li > a:first-child {
          display: block;
          font-family: 'Suez One', serif;
        }

  /* ====================== HIDE & DISPLAY ANIMATION ============================*/

div.main > div > p {
  display: none;
}
div.main > div:hover:before, aside.sidebar:hover:before {
  transform: rotate(90deg);
  transition-duration: 0.8s;
}
div.main > div:hover > p, aside.sidebar:hover > div {
  display: block;
}

/* ========================================================= */
/* ================== SCREEN SIZE > 580px ================== */
/* ========================================================= */

@media all and (min-width: 600px) {
  /* ====================================================================*/
  /* ============================== ASIDE ===============================*/
  aside.sidebar:before {
    display: none;
  }
  aside.sidebar > div.wrapper {
    display: block;
  }
}

@media screen and (min-width: 793px) {
  /* ====================================================================*/
  /* ======================== INTRO / BANNER ============================*/
  /* ==================================================================== */
    section.intro {
      /* order: 1; */
    }

    /* ====================================================================*/
    /* ====================== MAIN SUPPORTING =============================*/
    /* ====================================================================*/

    div.main {
      /* order: 3; */
    }

    /* ====================================================================*/
    /* ============================== ASIDE ===============================*/
    /* ====================================================================*/

    aside.sidebar {
      /* order: 2; */
    }
}
