html {
  font-family: sans-serif;
  background-color: rgba(184, 245, 239, 0.5);
}

/* header {
  background: url(images/DSC00227_1024.jpg) no-repeat center orange;
  height: 800px;
} */

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

main {
  margin: 5px;
}


/* -----------------------------------------------------------
h1 title style
------------------------------------------------------------ */
h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #208D0F;
  font-size: 35px;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 55px;
  }
}

.images {
  border-color: red;
  margin: 0 auto;
}
