html {
  font-family: sans-serif;
  background-color: rgba(184, 245, 239, 0.5);
}

/* header {
  background: url(images/DSC00227_1024.jpg) no-repeat center orange;
  height: 800px;
} */

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.images {
  border-color: red;
  margin: 0 auto;
}
